.swiper-img{
    width: 17em;
}

/* Only for large screens */
@media (min-width: 800px) {
    .swiper-img{
        width: 25em;
    }
  }

.swiper {
/* width: 400px; */
/* height: 800px; */
}

.swiper-3d .swiper-slide-shadow {
background: rgba(0,0,0,0);
}

.swiper-slide {
/* display: flex; */
align-items: flex-end;
justify-content: center;
/* border-radius: 18px; */
}
